# Override Pico CSS as vendored so that language stats are not inflated
.theme/css/pico/* linguist-vendored

# Override jQuery as vendored so that language stats are not inflated
.theme/js/jquery* linguist-vendored
